<div class="row justify-content-center">
    <div class="col-6">
        <br />
        <center>
            <span style="font-weight:bold;">
                Your message has been sent successfully!
            </span>
        </center>
        <br /><br />
        <a asp-action="SendEmail" asp-controller="Email" class="btn btn-primary btn-sm btn-block">Come back</a>
    </div>
</div>